.body-back {
	background-image: url("pattern-background-desktop.svg");
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 45px;
	padding-bottom: 45px;
	}

.corpo {
	background: white;
	border-radius: 20px 20px 20px 20px;
	width: 450px;
	margin:auto;
	padding-bottom: 50px;
}

.head {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px 20px 0 0;
}

.titulo {
	text-align: center; 
	font-family: 'Red Hat Display', sans-serif; 
	font-weight: bold;
	padding-top: 30px;
	font-size: 25px;

}

.text {
	font-family: 'Red Hat Display', sans-serif; 
	text-align: center;
	width: 300px;
	margin: 40px auto;
	font-size: 16px;
	line-height: 25px;
}

.img-button {
	float: left;
	margin-left: 85px;	
	margin-top: 15px;
	margin-right: 15px;
}

h2 {
	font-family: 'Red Hat Display', sans-serif; 
	font-size: 16px;
	font-weight: bold;
	padding-top: 15px;
	}

h3 {
	font-family: 'Red Hat Display', sans-serif; 
	font-size: 15px;
	text-align: center;
	margin-right: 219px;
	padding-top: 10px;
}

a {
	margin-right: 80px;
	font-family: 'Red Hat Display', sans-serif;
	color: purple;
	font-weight: bold;
	font-size: 15px;
	float: right;
}

button {
	margin-top: 65px;
	margin-left: 55px;
	width: 350px;
	padding: 13px;
	border-radius: 10px;
	font-family: 'Red Hat Display', sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: seashell;
	background-color: hsl(245, 75%, 52%);
	border-color: seashell;
}

.cancel {
	font-family: 'Red Hat Display', sans-serif;
	font-size: 15px;
	padding-right: 85px;
	padding-top: 25px;
	color: gray;
}

button:hover {
	opacity: 0.7;
	transition: 400ms;
	cursor: pointer
}

.cancel:hover {
	color: black;
}